scores/*
subtask3_v1/*

data/defi_emb_10.txt
data/defi_emb_15.txt
data/defi_emb_20.txt
data/defi_emb_25.txt
data/defi_emb_30.txt
data/defi_emb_35.txt
data/defi_emb_40.txt
data/defi_emb_5.txt
data/defi_emb_50.txt
# backup file
./lawson_bp/*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# celery beat schedule file
celerybeat-schedule

# Tensorboard logs
logdir/

# Checkpoint
checkpoint/

#model
core
#.vscode   这个还是需要同步更新的
scores/